<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Travel Reviews - Add Review</title>
    <link href="{{ url_for('static', filename='css/add_review.css')}}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/suitcase.png') }}">

</head>
<body>
<h1>Add A Review</h1>
<form class="form_class font" method="post">
    <textarea name="review" rows="8" required></textarea> <!-- Use <textarea> instead of <input> -->
    <br>
    <input class="font submit" type="submit" value="Save">
</form>
</body>
</html>
